POSTGRES_USER=<YOUR_POSTGRES_USER>(postgres)
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD>
POSTGRES_SERVER=<YOUR_POSTGRES_SERVER>(postgres)
POSTGRES_PORT=5432(or 5433)
POSTGRES_DB=<YOUR_POSTGRES_DB>(postgres)
SECRET_KEY=<YOUR_SECRET_KEY>